{% extends "model-page.html" %}

{% block style %}
    <style>
        div.polaroid {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
        }
        div.container {
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
            <div class="row">
                {% if user.ativo %}

                {% else %}
                    <p><u><b>{{ user.first_name }}, seu cadastro está em análise.</b></u></p>
                {% endif %}
            </div>
        </div>  
    </div>  
{% endblock %}